

<!DOCTYPE html>

<html class="no-js">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NextContas | Home page</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='~/text/css'>

    <!-- Place favicon.ico  the root directory -->
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/fontello.css">
    <link href="~/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="~/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/icheck.min_all.css">
    <link rel="stylesheet" href="~/css/price-range.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.css">
    <link rel="stylesheet" href="~/css/owl.transitions.css">
    <link rel="stylesheet" href="~/css/jquery.slitslider.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <noscript>
        <link rel="stylesheet" type="text/css" href="~/css/styleNoJS.css" />
    </noscript>
</head>
<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call">
                        <p>
                            <span><i class="pe-7s-call"></i> (12) 99195-0000</span>
                            <span><i class="pe-7s-mail"></i> nextcontas@gmail.com</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top header -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand"><img src="~/img/next.png" width="100" height="100" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <div class="button navbar">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    <a asp-area="" asp-controller="Novo_Grupo" asp-action="Create">Crie seu grupo</a>
                    <a asp-area="" asp-controller="Novo_Grupo" asp-action="Index">Grupos</a>
                    <a asp-area="" asp-controller="Nova_Conta" asp-action="Index">Perfil</a>
                    <a asp-area="" asp-controller="Publico" asp-action="Logout">Sair</a>
                </div>

            </div>

        </div>

    </nav>
    <!-- End of nav bar -->


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer area-->
    <footer>


        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Sobre a NextContas </h4>
                        <div class="footer-title-line"></div>

                        <img src="~/img/next.png" alt="" class="wow pulse" data-wow-delay="1s">
                        <p>
                            Somos uma plataforma que auxilia na partilha e no pagamento de serviços de assinatura de streaming, proporcionando aos clientes
                            assinantes uma forma segura e completamente online, de encontrar outros usuários interessados em compartilhar.
                        </p>
                        <ul class="footer-adress">
                            <li><i class="pe-7s-mail strong"> </i> nextcontas@gmail.com</li>
                            <li><i class="pe-7s-call strong"> </i> (12)99195-0000</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4> Tire suas dúvidas </h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><i class="pe-7s-mail strong"> </i> nextcontas@yourcompany.com</li>
                            <li><i class="pe-7s-call strong"> </i> (12)99195-0000</li>


                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>Siga-nos nas redes sociais</h4>
                        <div class="footer-title-line"></div>
                        <p>Nos acompanhe nas redes sociais e não perca nenhuma novidade.</p>



                        <div class="social pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </footer>





    <script src="~/js/modernizr-2.6.2.min.js"></script>

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/bootstrap-hover-dropdown.js"></script>

    <script src="~/js/easypiechart.min.js"></script>
    <script src="~/js/jquery.easypiechart.min.js"></script>

    <script src="~/js/owl.carousel.min.js"></script>

    <script src="~/js/wow.js"></script>

    <script src="~/js/icheck.min.js"></script>
    <script src="~/js/price-range.js"></script>


    <script src="~/js/jquery.ba-cond.min.js"></script>
    <script src="~/js/jquery.slitslider.js"></script>

    <script src="~/js/main.js"></script>

    <script type="text/javascript">
        $(function () {

            var Page = (function () {

                var $nav = $('#nav-dots > span'),
                    slitslider = $('#slider').slitslider({
                        onBeforeChange: function (slide, pos) {

                            $nav.removeClass('nav-dot-current');
                            $nav.eq(pos).addClass('nav-dot-current');

                        }
                    }),
                    init = function () {

                        initEvents();

                    },
                    initEvents = function () {

                        $nav.each(function (i) {

                            $(this).on('click', function (event) {

                                var $dot = $(this);

                                if (!slitslider.isActive()) {

                                    $nav.removeClass('nav-dot-current');
                                    $dot.addClass('nav-dot-current');

                                }

                                slitslider.jump(i + 1);
                                return false;

                            });

                        });

                    };

                return { init: init };

            })();

            Page.init();

            /**
             * Notes:
             *
             * example how to add items:
             */

            /*

             var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

             // call the plugin's add method
             ss.add($items);

             */

        });
    </script>
</body>
</html>
@{
    Context.Request.Cookies.TryGetValue("Email", out string value);
    if (value != null)
    {
        if (value.ToString() != "")
        {
            
        }

        else
        {
            <script type="text/javascript">
                                        window.location.href = "@Url.Action("Logar","Publico")"
            </script>
        }
    }

    else
    {
        <script type="text/javascript">
                                        window.location.href = "@Url.Action("Logar","Publico")"
        </script>

    }


}

                 
    


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)

