@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@using (Html.BeginForm())
{

    <!-- property area -->
    <div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <!-- /.feature title -->
                    <h2>NextContas</h2>
                    <p>Forme grupos e divida os custos dos seus streamings preferidos </p>
                </div>
            </div>


            <div class="proerty-th">
                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="Novo_Grupo/Details/2"><img src="~/img/demo/netflix.jpg"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="Novo_Grupo/Details/2">NetFlix </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>Telas :</b> 4 </span>
                            <span class="proerty-price pull-right">Valor mensal: R$ 14,65 por pessoa </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="Novo_Grupo/Details/3"><img src="~/img/demo/amazon.jpg"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="Novo_Grupo/Details/3">Amazon Prime Video </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>Telas :</b> 3 </span>
                            <span class="proerty-price pull-right">Valor mensal: R$ 4,23 por pessoa </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="Novo_Grupo/Details/4"><img src="~/img/demo/hbo.jpg"></a>

                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="Novo_Grupo/Details/4">HBO Max </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>Telas :</b> 3 </span>
                            <span class="proerty-price pull-right">Valor mensal: R$ 10,23 por pessoa </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="Novo_Grupo/Details/5"><img src="~/img/demo/disney.png"></a>

                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="Novo_Grupo/Details/5">Disney Plus </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>Telas :</b> 7 </span>
                            <span class="proerty-price pull-right">Valor mensal: R$4,38 por pessoa</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    


}